#section-sponsors article{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 2rem;
    align-items: center;
}

#section-sponsors article figure{
    padding: 1.5rem;
    width: 30%;
}

#section-sponsors article figure img{
    width: 80%;
    margin: auto;
}

#sponsors-start{
    width: 60%;
    margin: auto;
}

