.map-container {
    height: 30rem;
    width: 40vw !important;
}

#section-trajet {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#section-trajet article{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
}

#section-trajet article:nth-child(2) div{
    padding: 2rem;
}


#section-trajet article:nth-child(2) a{
    margin-left: 15%;
    width: 37%;
}
